<h2>Repository {{repository.name}}</h2>

<table style="font-size:8px;">
  <thead>
    <tr>
      <td></td>
      <th ng-init="sortReverse=false" ng-click="sortType='tag';sortReverse=!sortReverse">Tag</th>
      <th ng-init="sortReverse=false" ng-click="sortType='t.created';sortReverse=!sortReverse">Created</th>
      <th>ID</th>
      <th>Docker Version</th>
      <th>Parent</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tag in repository.tags | orderBy:sortType:sortReverse:paginate" ng-init="tag_value = repository.tag_values[tag]; v1s=tag_value.history; t=v1s[0].v1Compatibility;">
      
      <td><input type="checkbox"></input></td>
      <td>{{tag}}</td>
      <td>{{t.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{t.id}}</td>
      <td>{{t.docker_version}}</td>
      <td>{{t.parent}}</td>
    </tr>
  </tbody>
</table>

<button ng-click="delete">Delete Tags</button>
  
<!--{{repository | json}}-->
