<h2>Repositories</h2>

<div>
  <input type="text" ng-model="search_text"></input>
  <button ng-click="retreive()">検索</button>
</div>

<div ng-repeat="(group, v) in repositories" style="margin:10px;">
  <span style="font-weight:bold;">{{group}}</span>
  <table>
    <tbody>
      <tr ng-repeat="n in v">
	<td><input type="checkbox"></input></td>
	<td><a ng-href="#/repository?name={{n.fullname}}">{{n.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button ng-click="delete()">Delete selected repositories</button>
</div>
<!--{{ repositories | json}}-->
